{{ define "main" }}
<main class="list crazy-talk-feed" aria-label="疯言疯语">
	{{ with .Content }}
	<section class="site-description">
		{{ . }}
	</section>
	{{ end }}

	{{ range $index, $element := .Pages.ByDate.Reverse }}
        {{ if gt $index 0 }}
        <hr>
        {{ end }}
	<article class="post">
		<div class="title">
			<h2 class="title">{{ .Title }}</h2>
			{{ if .Draft }}<span class="draft-label">DRAFT</span>{{ end }}
		</div>
		<section class="body">
			{{ .Content }}
		</section>
	</article>
	{{ end }}
</main>
{{ end }}
