{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else if eq .Section "posts" }}
<h1 class="page-title">All articles</h1>
{{ else if eq .Section "crazy-talk" }}
<h1 class="page-title">疯言疯语</h1>
{{ else }}
<h1 class="page-title">{{ .Title }}</h1>
{{ end }}

{{- range $index, $page := .Data.Pages -}}
	{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) $page.Type)) -}}
	<div class="post-item">
		<a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a> <span class="meta">{{ dateFormat ":date_medium" $page.Date }}{{ if $page.Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
	</div>
	{{- if not (eq $index (sub (len $.Data.Pages) 1)) -}}
	<hr class="post-divider">
	{{- end -}}
	{{- end -}}
{{- end -}}
{{ end }}
