{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else if eq .Section "posts" }}
<h1 class="page-title">All articles</h1>
{{ else if eq .Section "crazy-talk" }}
<h1 class="page-title">疯言疯语</h1>
{{ else }}
<h1 class="page-title">{{ .Title }}</h1>
{{ end }}

{{- $pages := .Data.Pages -}}
{{- range $index, $page := $pages -}}
{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) $page.Type)) -}}
<div class="post-item">
	<a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a> <span class="meta">{{ dateFormat ":date_medium" $page.Date }}{{ if $page.Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
</div>
{{- if ne $index (sub (len $pages) 1) -}}
<hr>
{{- end -}}
{{- end -}}
{{- end -}}
{{ end }}
